:root {                                                               
    --color-main: #0075ff;                    
}                                                                                                                                      
/* global rules */                                                    
* {                                                                   
    box-sizing: border-box;                                           
    -webkit-box-sizing: border-box;                                   
    -moz-box-sizing: border-box;                                      
    padding: 0;                                                       
    margin: 0;                                                        
}                                                                     
html {                                                                
    font-family: 'cairo', sans-serif;                        
}                                                                     
.container {                                                          
    margin: 0 auto;                                                   
    padding: 15px;                                                    
}                                                                     
body {        
    font-size: 18px;
    overflow-x: hidden;
}                                                                                                                           
/* media queries for container */                                     
@media (min-width: 786px) {                                           
    .container {                                                      
        width: 750px;                                                 
    }                                                                 
}                                                                                                                                  
@media (min-width: 992px) {                                           
    .container {                                                      
        width: 970px;                                                 
    }                                                                 
}                                                                     
@media (min-width: 1200px) {                                          
    .container {                                                      
        width: 1170px;                                                
    }                                                                 
}          
/* Start Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header {
    padding-top: 0;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse; /* To support RTL layout */
}

.header .container {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 200px;
}

.header .container .menu {
    cursor: pointer;
    display: flex; /* Assuming it's meant to be flex */
    flex-direction: column;
    gap: 4px;
}

.header .container .menu span {
    width: 30px;
    height: 3px;
    z-index: 3;
    border-radius: 2px;
    background-color: white;
    display: none;
}

.header .container .image {
    width: 190px;
}

.header .container .image img {
    width: 100%;
}

.header .container .links-header {
    display: flex;
    margin-top: 10px;
    flex-direction: row-reverse; /* RTL layout */
    justify-content: center;
    gap: 20px;
}

.header .container .links-header ul {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* overflow-y: hidden; */
}

.header .container .links-header ul li {
    list-style: none;
    padding-left: 20px;
}

.header .container .links-header ul li a {
    color: white;
    text-wrap: nowrap;
    text-decoration: none;
    text-align: right; /* Align text to the right */
    direction: rtl;    /* Right-to-left text direction */
}

.header .container .links-header ul li i {
    margin-right: 5px;
    font-size: 15px;
}

.header .container .links-header ul li .inside-links {
    width: 300px;
    z-index: 4;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    color: white;
    position: absolute;
    margin-top: 10px;
    margin-left: -220px;
    text-align: right;
    direction: rtl;
    box-shadow: -1px 2px 20px 0px rgba(0, 0, 0, 0.41);
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
    background-color: var(--color-main);
}
.header .container .links-header ul li .inside-links li:first-child {
    border-top: 2px solid white;
}
.header .container .links-header ul li .inside-links li {
    padding: 20px;
    width: 100%;
    list-style: none;
    transition: 0.3s ease-in; 
}

.header .container .links-header ul li .inside-links li a {
    color: white;
    font-size: 15px;
    white-space: nowrap;
    transition: 0.3s ease-out; 
    width: 300px;
    text-decoration: none;
}

.header .container .links-header ul li .inside-links:hover {
    
}

.header .container .links-header ul li .inside-links li:hover {
    background-color: #333333;
    padding-right: 30px;
}

.header .container .links-header ul li .inside-links li a:hover {
    padding-left: 30px;
}
/* start home */
.home {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-main);
}
.home .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}
.home .container .text {
    text-align: center;
    color: white;
}
.home .container .text .description {
    font-size: 23px;
}
.home .container .input-insider {
    padding: 10px;
    width: 100%;
    background-color: white;
}
.home .container .input-insider .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    width: 100%;
}
.home .container .input-insider button {
    padding: 10px;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    /* border-radius: 10px; */
    border: 2px solid white;
    background-color: var(--color-main);
}
.home .container .input-insider input:nth-child(2) {
    width: 100%;
    height: 34px;
    outline: none;
    direction: rtl;
    font-weight: bold;
    border: 2px solid white;
}

/* start special heading */
.special_heading {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.special_heading .title {
    font-size: 50px;
    font-weight: 400;
}
.special_heading .description {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.special_heading .description p {
    width: 60%;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    text-align: center;
}
.special_heading .description hr {
    width: 100%;
    height: 4px;
    border-right: none;
    border-left: none;
    background-color: #f8f8f8;
    border-bottom: 1px solid #989696;
    border-top: 1px solid #989696;
}

/* start studying planning */

.studying_planing {
    /* display: none; */
}